{% extends "base.html" %}

{% block number_lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    
    <form method="post" action="/lab4/div">
        <h2 class="block2">Деление чисел</h2>
        <input class="form-input1" type="number" name="x1"> &#8260 <input class="form-input1" type="number" name="x2">
        <input class="form-input1" type="submit" value="=">
    </form>

    <form method="post" action="/lab4/summ">
        <h2 class="block2">Суммирование чисел</h2>
        <input class="form-input1" type="number" name="x1"> + <input class="form-input1" type="number" name="x2">
        <input class="form-input1" type="submit" value="=">
    </form>

    <form method="post" action="/lab4/umn">
        <h2 class="block2">Умножение чисел</h2>
        <input class="form-input1" type="number" name="x1"> &#215 <input class="form-input1" type="number" name="x2">
        <input class="form-input1" type="submit" value="=">
    </form>

    <form method="post" action="/lab4/vichit">
        <h2 class="block2">Вычитание чисел</h2>
        <input class="form-input1" type="number" name="x1"> &#8722 <input class="form-input1" type="number" name="x2">
        <input class="form-input1" type="submit" value="=">
    </form>

    <form method="post" action="/lab4/stepen">
        <h2 class="block2">Возведение в степень</h2>
        <input class="form-input1" type="number" name="x1"> ^ <input class="form-input1" type="number" name="x2">
        <input class="form-input1" type="submit" value="=">
    </form>
    <hr>
    <form action='/lab4'>
        <button type="submit" class="btn btn-primary">Назад</button>
    </form>

{% endblock %}