{% extends "base.html" %}

{% block number_lab %}Лабораторная работа 4{% endblock %}

{% block main %}

    {% if error %}
        {{ error }}
    {% elif error2 %}
        {{ error2 }}
    {% else %}
    
    <h2 class="block2">Деление чисел</h2>
    <div class="register-container">
        <div class="register-form">
        {{ x1 }} / {{ x2 }} = {{ result }}
        {% endif %}
        </div>
    </div>
    <hr>
    <form action='/lab4/div-form'>
        <button type="submit" class="btn btn-primary">Назад</button>
    </form>
{% endblock %}