{% extends "base.html" %}

{% block number_lab %}Лабораторная работа 4{% endblock %}

{% block main %}

    {% if error %}
        {{ error }}
    {% else %}
    <h2 class="block2">Деревья</h2>
    <div class="register-container">
        <form method="post" class="register-form">
            <div>
                Посажено деревьев: {{ tree_count }}
            </div>
            <hr>
            <div class="form-buttons">
                <button class="btn btn-primary" name="operation" value="plant" {% if tree_count >= 10 %}disabled{% endif %}>Посадить дерево</button>
                <button class="btn btn-secondary" name="operation" value="cut" {% if tree_count <= 0 %}disabled{% endif %}>Срубить дерево</button>
            </div>
        </form>
    </div>
    <hr>
    <form action='/lab4'>
        <button type="submit" class="btn btn-primary">Назад</button>
    </form>
    {% endif %}

{% endblock %}