{% extends "base.html" %}

{% block number_lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h2 class="block2">Заказ зерна</h2>
    <div class="register-container">
        <form method="post" class="register-form">
            <div>
                <label class="form-label" for="zerno">Выберите зерно:</label>
                <select class="form-input" id="zerno" name="zerno" required>
                    <option value="ячмень">Ячмень</option>
                    <option value="овёс">Овёс</option>
                    <option value="пшеница">Пшеница</option>
                    <option value="рожь">Рожь</option>
                </select>
            </div>
            <div>
                <label class="form-label" for="ves">Укажите вес (в тоннах):</label>
                <input class="form-input" id="ves" name="ves" type="number" step="0.1" min="0.1" required>
            </div>
            <div class="form-buttons">
                <button class="btn btn-primary" type="submit">Оформить заказ</button>
            </div>

            {% if error %}
                <div style="color: red; margin-top: 15px;">
                    {{ error }}
                </div>
            {% endif %}

            {% if success %}
                <div class="register-form1">
                    <div>
                        <hr>
                        <p><b>Заказ успешно сформирован</b></p>
                        <hr>
                        <p>Вы заказали: {{ zerno }}</p>
                        <p>Вес: {{ ves }} т</p>
                        <p>Сумма к оплате: {{ itog|int }} руб</p>
                    </div>
                    <hr>

                    {% if discount > 0 %}
                        <div>
                            <p><b>Применена скидка 10% за большой объём</b></p>
                            <hr>
                            <p>Размер скидки: {{ discount|int }} руб</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}        
        </form>
    </div>
    <hr>
    <form action='/lab4'>
        <button type="submit" class="btn btn-primary">Назад</button>
    </form>

{% endblock %}