{% extends "base.html" %}

{% block number_lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    
    <div class="block bilet">Железнодорожный билет
        <div class="block2">Пассажир: <br> {{ fio }}</div>
        <div class="block2">Возраст: <br> {{ age }} лет</div>
        <div class="block2">Тип билета: <br> {{ 'детский' if child else 'взрослый' }}</div>
        <div class="block2">Дата: <br> {{ data }}</div>
        <div class="block2">Маршрут: <br> из {{ viezd }} в {{ naznach }}</div>
        <div class="block2">Стоимость билета: <br> {{ price }} руб.</div>
    </div>

{% endblock %}