{% extends "base.html" %}

{# Номер лабораторной работы: #}
{% block number_lab %}Лабораторная работа 3{% endblock %}

{# Основной контент: #}
{% block main %}
    <h1>Формы</h1>
    <div><b>Тема лабораторной - формы, cookie. Список сделанных страниц:</b></div>
    <div>
        Привет, <span style="color: {{ name_color or 'white' }}">{{ name or 'Аноним' }}</span>
    </div>
    
    <div>Возраст: {{ age or 'Неизвестен' }}</div>
    <div class="spisoklab">
        <ol class="text">
            <li><a href="/lab3/cookie">Куки</a><br>
            <li><a href="/lab3/del_cookie">Очистка кук</a><br>
            <li><a href="/lab3/form1">Формы</a><br>
            <li><a href="/lab3/order">Заказ напитка</a><br>
            <li><a href="/lab3/settings">Настройки отображения</a><br>
        </ol>
    </div>
{% endblock %}