{% extends "base.html" %}

{# Номер лабораторной работы: #}
{% block number_lab %}Лабораторная работа 3{% endblock %}

{# Основной контент: #}
{% block main %}
    <h1>Заказ напитка</h1>
    
    <form class="block" action="/lab3/pay">
        <div class="block2">Напиток</div>
            <div class="coffee">
                <label class="coffee1">
                    <input type="radio" value="cofee" name="drink" checked>кофе<br>
                </label>
            </div>
            <div class="coffee">
                <label class="coffee1">
                    <input type="radio" value="black-tea" name="drink">чёрный чай<br>
                </label>
            </div>
            <div class="coffee">
                <label class="coffee1">
                    <input type="radio" value="green-tea" name="drink">зелёный чай
                </label>
            </div>

            <div class="block2">Добавки</div>
                <div class="coffee">
                    <label class="coffee1">
                        <input type="checkbox" name="milk">молоко<br>
                    </label>
                </div>
                <div class="coffee">
                    <label class="coffee1">
                        <input type="checkbox" name="sugar">сахар 
                    </label>
                </div>
           
        <div>
            <button class="button" type="submit">Заказать</button>
        </div>
    </form>
    <form class="price">
        <div class="price1">Цены</div>
        <div class="napitki">
            <div class="zagl">Напитки</div>
            <hr class="lin">
            <ul class="napitki1">
                <li>Кофе - 120 рублей</li>
                <li>Чёрный чай - 80 рублей</li>
                <li>Зелёный чай - 70 рублей</li>
            </ul>
            <hr class="lin">
        </div>
        <div class="dobavki">
            <div class="zagl">Добавки</div>
            <hr class="lin">
            <ul class="napitki1">
                <li>Молоко - 30 рублей</li>
                <li>Сахар - 10 рублей</li>
            </ul>
            <hr class="lin">
        </div>
        
    </form> 
{% endblock %}