{% extends "base.html" %}

{% block number_lab %}Лабораторная работа 3{% endblock %}
<style>
    .karta {
        background-color: red;
    }
</style>

{% block main %}
    <h1>Оплата</h1>

    <div class="block2">
        Сумма к оплате: {{ price }}
    </div>

    <form action="/lab3/end">
        <input type="hidden" name="price" value="{{ price }}">

        <div class="block2">Номер банковской карты:<br>
        <label>
            <input class="karta" type="text" name="card" pattern="\d{16}" placeholder="1234 1234 1234 1234" required>
        </label>
        </div>

        <div class="block2">Имя держателя карты:<br>
        <label>
            <input class="karta" type="text" name="name" placeholder="IVAN IVANOV" required>
        </label>
        </div>

        <div class="block2">Номер CVV:<br>
        <label>
            <input  class="karta2" type="text" name="cvv" size="3" pattern="\d{3}" placeholder="123" required>
        </label>
        </div>

        <div>
            <button type="submit" class="button">Оплатить</button><br>
            <a href="/lab3/order">Отказаться</a>
        </div>
    </form>
{% endblock %}