{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Cookies</h1>
    <form method="get">
        <div>
            <label for="color">Выберите цвет текста:</label>
            <input type="color" id="color" name="color" value="{{ color or '' }}">
        </div>

        <div>
            <label for="bg_color">Выберите цвет фона:</label>
            <input type="color" id="bg_color" name="bg_color" value="{{ bg_color or '' }}">
        </div>

        <div>
            <label for="font_size">Введите размер шрифта:</label>
            <input type="text" id="font_size" name="font_size" value="{{ font_size or '' }}" placeholder="например: 26px">
        </div>

        <div>
            <label for="opacity">Введите прозрачность:</label>
            <input type="text" id="opacity" name="opacity" value="{{ opacity or '1' }}" placeholder="например: 0.5">
        </div>

        <div>
            <button type="submit">OK</button>
        </div>
    </form>
{% endblock %}