{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1 class="cook">Cookies (куки) — это небольшие текстовые файлы, которые веб-сайт отправляет в браузер пользователя и сохраняет на его устройстве. Они позволяют сайту запоминать информацию о ваших предпочтениях, действиях и сеансах, чтобы обеспечить более комфортную работу. Например, куки используются для сохранения ваших логинов, данных в корзине интернет-магазина, а также для персонализации рекламы и отслеживания посещаемости сайта. </h1>
    <form>
        <div class="block2">
            <label for="color">Выберите цвет текста:</label>
            <input type="color" id="color" name="color" value="{{ color or '' }}">
        </div>

        <div class="block2">
            <label for="bg_color">Выберите цвет фона:</label>
            <input type="color" id="bg_color" name="bg_color" value="{{ bg_color or '' }}">
        </div>

        <div class="block2">
            <label for="font_size">Введите размер шрифта:</label>
            <input type="text" id="font_size" name="font_size" value="{{ font_size or '' }}" placeholder="например: 26px">
        </div>

        <div class="block2">
            <label for="opacity">Введите прозрачность:</label>
            <input type="text" id="opacity" name="opacity" value="{{ opacity or '1' }}" placeholder="например: 0.5">
        </div>

        <div>
            <button type="submit">OK</button>
        </div>
    </form>
{% endblock %}