{% extends "base.html" %}

{% block number_lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    
    <h1>Билет</h1>

    <form action="/lab3/itogticket">
        <div class="block2">
            <label><div class="block3">ФИО</div><br><input class="karta" name="fio" type="text" placeholder="Введите ФИО" required></label>
        </div>
        <div class="block2"><div class="block3">Полка</div><br>
            <label><input value="lower" name="position" type="radio" checked>Нижняя</label>
            <label><input value="upper" name="position" type="radio">Верхняя</label>
            <label><input value="upperside" name="position" type="radio">Верхняя боковая</label>
            <label><input value="lowerside" name="position" type="radio">Нижняя боковая</label>
        </div>

        <div class="block2"><div class="block3">Дополнения</div><br>
            <label><input name="dop" value="belie" type="checkbox">Бельё</label>
            <label><input name="dop" value="bagaj" type="checkbox">Багаж</label>
        </div>

        <div class="block2"><div class="block3">Возраст</div><br>
            <input class="karta" name="age" type="number" min="1" max="120" placeholder="Введите возраст" required>
        </div>

        <div class="block2"><div class="block3">Пункт выезда</div><br>
            <label><input class="karta" name="viezd" type="text" placeholder="Введите пункт выезда" required></label>
        </div>

        <div class="block2"><div class="block3">Пункт назначения</div><br>
            <label><input class="karta" name="naznach" type="text" placeholder="Введите пункт назначения" required></label>
        </div>

        <div class="block2"><div class="block3">Дата поездки</div><br>
            <label><input class="karta" name="data" type="date" required></label>
        </div>

        <div class="block2"><div class="block3">Страховка</div><br>
            <label><input name="strahovka" value="strahovka" type="checkbox"></label>
        </div>

        <div>
            <button class="button" type="submit">Оформить</button>
        </div>
    </form>

{% endblock %}