{% extends "base.html" %}

{% block number_lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    
    <h2 class="block2">Статьи</h2>

     {% if articles %}
        {% for article in articles %}
            <div {% if article['is_favorite'] %}{% endif %} class="login-form login-container">
                <h2>
                    <hr>
                    {{ article['title'] }}<hr>
                    {% if article['is_favorite'] %}{% endif %}
                    {% if article['is_public'] %}{% endif %}
                </h2>
                <div>{{ article['article_text'] }}</div>
                <div>
                    <a href="{{ url_for('lab5.edit_article', article_id=article['id']) }}">
                        <button class="btn btn-secondary">Редактировать</button>
                    </a>
                </div>
                <div>
                    <a href="{{ url_for('lab5.delete_article', article_id=article['id']) }}">
                        <button class="btn statdel">Удалить</button>
                    </a>
                </div>
                <div>
                    <a class="stat statnew" href="{{ url_for('lab5.create') }}">Создать новую статью</a><br>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>У вас пока нет ни одной статьи.</p>
    {% endif %}

    <a href="{{ url_for('lab5.lab') }}" class="btn nazad">На главную</a>

{% endblock %}