{% extends "base.html" %}

{% block number_lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h2 class="block2">Создание статьи</h2>

    <form class="login-form login-container" method="post">
        <div>
            <label for="title">
                Название статьи:
            </label>
            <input class="form-input" type="text" id="title" name="title" maxlength="50">
        </div>

        <div>
            <label for="article_text">Текст статьи:</label>
            <textarea class="form-input" id="article_text" name="article_text"></textarea>
        </div>

        <div>{{ error }}</div>

        <div>
            <button class="btn btn-primary" type="submit">Готово</button>
        </div>
    </form>
{% endblock %}