body {
    background-color: rgb(177, 196, 255);
    font-size: 24px;
    text-align: center;
    color: black;
    margin: 0;
    margin-bottom: 100px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.408);
}

header {
    background-color: rgb(179, 225, 249);
    color: black;
    font-family: Arial;
    margin: 0px;
    padding: 22px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
}

footer {
    background-color: rgb(179, 225, 249);
    color: black;
    font-family: Arial;
    margin: 0px;
    padding: 22px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

img {
    margin: 0 auto;
    display: block;
    border-radius: 40px;
    border: 4px solid rgb(16, 90, 16);
    width: 630px;
    transition: 0.3s;
}

img:hover {
    scale: 1.07;
    transition: 0.3s;
}

h1 {
    text-align: center;
    color: rgb(12, 59, 12);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(163, 249, 197, 0.699);
    border-radius: 20px;
}

.tree {
    font-size: 50px;
    position: absolute;
}

.clearcounter {
    margin-top: 30px;
    text-align: center;
    font-size: 38px;
    color: black;
}

.hr {
    color: black;
    border: 1px solid black;
}

.text {
    text-align: left;
}

.link {
    text-align: center;
    font-size: 26px;
}

.error {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bodyerror {
    background-color: black;
    color: white;
}

.imgerror {
    border: 0px;
    width: 500px;
    margin-top: 50px;

}

.error1 {
    font-size: 40px;
    margin: 0;
    color: white;
    font-weight: bold;
}

.logs {
    text-align: left;
    color: rgb(172, 255, 172);
    font-weight: 100;
}
.hlogs {
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

.hr1 {
    color: white;
}

.spisoklab {
    background-color: rgba(190, 255, 179, 0.462);
    padding: 10px;
    margin-top: 500px;
    margin: 0;
    display: inline-block;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 20px;
    border: 3px solid rgb(193, 255, 176);
}

.berry {
   border: 0px;
   width: 200px;
}

.berryblock {
    font-size: 26px;
}

.berryhr {
    border: 1px solid black;
    width: 80%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.634);
}

.spisokberry {
    border: 2px solid rgb(203, 131, 199);
    border-radius: 10px;
    background: linear-gradient(rgb(255, 234, 254), rgb(255, 181, 253),rgb(255, 231, 254));
    display: inline-block;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}