<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Рязанцев Александр Алексеевич. {% block number_lab %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB-Программирование, часть 2. {{ self.number_lab() }}
    </header>

    <main>
        {% block main %}{% endblock %}
        <a href="/" class="koren">🏠</a>
    </main>

    <footer>
        Рязанцев Александр Алексеевич, ФБИ-31, 3 курс, 2025
    </footer>
</body>
</html>