{% extends "base.html" %}

{# Номер лабораторной работы: #}
{% block number_lab %}Лабораторная работа 2{% endblock %}

{# Основной контент: #}
{% block main %}
    <h2 class="spisokberry">Список ягод</h2>
    <div class="berryblock">
        <hr class="berryhr">
        {% for f in berry %}
        <div class="zagl">{{ f.name }}</div> <img class='berry' src="{{ url_for('static', filename='berries/') + f.image}}">{{ f.description }} {{ f.str }}<br><hr class="berryhr">
        {% endfor %}
    </div>
{% endblock %}