{% extends "base.html" %}

{% block number_lab %}Расчётно-графическое задание{% endblock %}

{% block main %}
    <h2 class="block2">Удаление аккаунта</h2>
    <p>Внимание! Это действие невозможно отменить. Все ваши данные будут безвозвратно удалены.</p>
    
    <form class="login-form login-container" action="/rgz/delete_account" method="post">
        <div>
            <label>
                Введите пароль для подтверждения: <br>
                <input class="form-input" type="password" name="password" required>
            </label>
        </div>
        {{ error }}<br>
        <button class="btn btn3" type="submit">Удалить аккаунт</button>
        <a class="btn btn4" href="/rgz/">Отмена</a><br>
{% endblock %}