{% extends "base.html" %}

{% block number_lab %}Расчётно-графическое задание{% endblock %}

{% block main %}
    <h2 class="block2">Расчётно-графическое задание</h2>
    <div><b></b></div>

    <div class="login-form login-container">
        
        <a class="btn btn4" href="/rgz/login">Авторизация</a>
        <a class="btn btn4" href="/rgz/register">Регистрация</a><br><hr>
        <a class="btn btn3" href="/rgz/delete_account">Удаление аккаунта</a><br><hr>
        <a class="btn btn5" href="/rgz/storage">Камера хранения</a></li>
        
    </div>
{% endblock %}